version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: ai-whatsapp-mysql
    environment:
      MYSQL_ROOT_PASSWORD: MySql@123
      MYSQL_DATABASE: ai_agent
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - ai-agent-net

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - ai-agent-net

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant-data:/qdrant/storage
    networks:
      - ai-agent-net

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped
    networks:
      - ai-agent-net

volumes:
  mysql-data:
  qdrant-data:
  ollama-data:

networks:
  ai-agent-net:
